
.main-container{
    gap: 15px;
    overflow: hidden;
   
    display: flex;
    margin-top: 15px;
    margin-inline: 25px;
}
#videoPlayer{

    top: 0;
    position: sticky;
    border-radius: 15px;
}

.suggest-video-list{
width: 33%;
}


#comments-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment {
  margin-bottom: 15px;
}

.comment p {
  margin: 5px 0;
}
