
.main-container{
    gap: 15px;
    
   
    display: flex;
    margin-top: 15px;
    margin-inline: 25px;
}
#videoPlayer{

    top: 0;
   
    border-radius: 15px;
}

.suggest-video-list{
width: 33%;
}



#comments-container , #video-discription {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.comment {
  margin-bottom: 15px;
}

.comment p {
  margin: 5px 0;
}

































/* // const API_KEY = "AIzaSyBzSTXIrBHXKoQPLmhHTeGL87z-DyGUYBY";
// const API_KEY = "AIzaSyDa95KzoCkJIH-3CILO7QsE67ufMF7bkLM";
// const API_KEY = "AIzaSyD8O_WLqEMxyxPXQzgKQo6taUE2REbw5Wk";
const API_KEY = "AIzaSyDfFiYo-dm_pODDxIHEQPAm8zpTFJ6ybJM"; */
